---

import Layout from "../layouts/Layout.astro";

---
<Layout title="404" description="404ページなんだぞ！ちゃんと指定してくれよな～(リンク切れだったらごめん...)" page="" css="w-[90%] xl:w-[60%]">
    <img src="https://mta.locu-blog.com/blog/img/status-code/404.png" alt="404画像" class="bg-white rounded-2xl shadow-md p-10 border-2">
    <div class="bg-white text-center text-xl lg:text-4xl font-bold py-2.5 mt-5 rounded-2xl shadow-lg border-2 text-gray-600">
        ページがないって... ごめんね
    </div>
</Layout>