---

function SinceYear(){
    let beginYear = 2024;
    let nowYear = new Date().getFullYear();
    let rangeYear = beginYear.toString();

    if(beginYear != nowYear){
        rangeYear += " - " + nowYear;
    }

    return rangeYear;
}
---



<footer class="w-fit fixed bottom-0 bg-white rounded-t-2xl dark:bg-gray-800 shadow sm:rounded-t-lg sm:ml-4 xl:ml-32">
    <div class="w-full mx-auto max-w-screen-xl p-2 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
          © {SinceYear()} Locu All Rights Reserved.
    </span>
    </div>
</footer>
